<section>
	<h1 class="heading">About {{ BRAND }}</h1>

	<p class="text-xl text-center max-w-2xl mx-auto mb-6">
		{{ BRAND }} is a web application developed with 
		<a class="hover:underline text-primary" href="https://angular.io" rel="noopener" rel="noreferrer" target="_blank">Angular</a>, 
		<a class="hover:underline text-primary" href="https://ngxs.io" rel="noopener" rel="noreferrer" target="_blank">NGXS</a> and 
		<a class="hover:underline text-primary" href="https://firebase.google.com" rel="noopener" rel="noreferrer" target="_blank">Firebase</a>
		by <a class="hover:underline text-primary" href="https://panesar.dev" rel="noopener" rel="noreferrer" target="_blank">Sukhpreet Singh</a>.
	</p>

	<p class="text-xl text-center max-w-2xl mx-auto">
		This is just a demo application to show cart functionality and overall working of an E-Commerce application. Please do not use any sensitive information in this application. 
	</p>
</section>