<section>
	<h1 class="heading">Privacy Policy</h1>

    <p><strong>Your Privacy is Important to Us</strong></p>

    <p>At {{ BRAND }}, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your personal information.</p>   


    <h2>Information We Collect</h2>

    <p>We   
 may collect the following personal information from you:</p>

    <ul>
        <li><strong>Account Information:</strong> When you create an account, we may collect your email address and name.</li>
        <li><strong>Device Information:</strong> We may collect information about the device you use to access our app, such as your IP address and device type.</li>
        <li><strong>Usage Data:</strong> We may collect information about how you use our app, such as the features you access and the actions you take.</li>
    </ul>

    <h2>How We Use Your Information</h2>

    <p>We use your personal information for the following purposes:</p>

    <ul>
        <li><strong>Account Creation and Management:</strong> To create and manage your account.</li>
        <li><strong>Providing Services:</strong> To provide you with the services offered by our app.</li>
        <li><strong>Improving Our Services:</strong> To improve the functionality and user experience of our app.</li>
        <li><strong>Communicating with You:</strong> To send you important notifications and updates.</li>
    </ul>

    <h2>Data Sharing and Disclosure</h2>

    <p>We do not share your personal information with third parties, except as required by law or to provide essential services. We may use third-party service providers to help us with certain aspects of our business, such as data storage and analytics. These providers are contractually obligated to protect your personal information.</p>

    <h2>Data Security</h2>

    <p>We implement reasonable security measures to protect your personal information from unauthorized access,   
 use, or disclosure. However, no security system is perfect, and we cannot guarantee the   
 absolute security of your information.</p>

    <h2>Your Rights</h2>

    <p>You have the right to:</p>

    <ul>
        <li><strong>Access Your Personal Information:</strong> You can request access to the personal information we hold about you.</li>
        <li><strong>Correct Your Personal Information:</strong> You can request that we correct any inaccuracies in your personal information.</li>
        <li><strong>Delete Your Personal Information:</strong> You can request that we delete your personal information from our systems.</li>
    </ul>

    <h2>Changes to This Privacy Policy</h2>

    <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by   
 posting a notice on our app or by sending you an email.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact   
 us at [Your Email Address].</p>   

</section>