<section>
  @let selectedCategory = selectedCategory$ | async;
  @let selectedPriceFilter = selectedPriceFilter$ | async;
  @let categories = categories$ | async;
  @let products = products$ | async;

  <h1 class="heading">New Arrivals</h1>

  <div class="grid md:grid-cols-[1fr_3fr_1fr] lg:grid-cols-[1fr_4fr_1fr] gap-8">
    <div class="order-1">
      <div class="sticky top-40">
        <h1 class="font-bold text-2xl mb-4">Categories</h1>
        <div class="grid">
          <span class="filter {{ selectedCategory == null && 'active' }}" (click)="setCategory(null)">Show all</span>
          @for (category of categories; track $index) {
            <span class="filter {{ selectedCategory == category && 'active' }}" (click)="setCategory(category)">{{ category.name }}</span>
          }
        </div>
      </div>
    </div>

    <div class="order-3 md:order-2">
      <h1 class="text-lg font-bold mb-6">Showing {{ products && products.length }} results</h1>

      <app-product-list [products]="products" />
    </div>

    <div class="order-2 md:order-3">
      <div class="sticky top-40">
        <h1 class="font-bold text-2xl mb-4">Price Filter</h1>
        <div class="grid">
          <span class="filter {{ selectedPriceFilter == 'DEFAULT' && 'active' }}" (click)="setPriceFilter('DEFAULT')">Default</span>
          <span class="filter {{ selectedPriceFilter == 'HIGH-LOW' && 'active' }}" (click)="setPriceFilter('HIGH-LOW')">High To Low</span>
          <span class="filter {{ selectedPriceFilter == 'LOW-HIGH' && 'active' }}" (click)="setPriceFilter('LOW-HIGH')">Low To High</span>
        </div>
      </div>
    </div>
  </div>
</section>
